.tag-1 {
  opacity: 0
}

#tag-2 {
  opacity: 0
}

#tag-3 {
  opacity: 0
}

.parent {
  opacity: 0
}

/* apparently this css file needs to have more bites to pass the spec, despite the fact that the wall has been cleaned up.... why would that be true? */